* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}

body {
    display: flex;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1992D4;
    color: white;
    font-size: 2rem;
    user-select: none;
    z-index: 2;
    min-height: 100vh;
}

.opcao-menu {
    display: flex;
    width: 100%;
    padding-top: 1rem; 
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: 2.5rem;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    color: #ffffff;
}

.opcao-menu:hover {
    cursor: pointer;
}

.opcao-menu:active {
    opacity: 80%;
}

.opcao-menu-escolhida {
    background-color: #47a8dd;
    border-left: 5px solid white;
}

#logo-menu {
    font-size: 5rem;
}

main {
    flex: 5;
    background-color: #E2E8F0;
}

header {
    padding: .5rem;
    background-color: white;
    box-shadow: 0px 2px 10px rgb(192, 192, 192);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input, select {
    font-size: 20px;
    border: none;
    background-color: #E2E8F0;
    padding: 1rem;
    border-radius: .5rem;
}

input:focus, select:focus {
    outline: none;
}

.fundoForm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 2rem;
    border-left: .5rem solid #F0B429;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    font-size: 16px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.botaoForm:hover {
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

a {
    color: black;
}

footer a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    aside {
        min-width: 20rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #1992D4;
        color: white;
        gap: 2rem;
        font-size: .5rem;
        user-select: none;
        z-index: 2;
        min-height: 100vh;
    }

    input, select {
        color: black;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .fundoForm {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        padding: 50px;
        border-radius: 2rem;
        border-left: .5rem solid #F0B429;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 16px;
    }

    footer a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
    }
}